@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>pet.ROM</h1>
    <p class="lead">ASP.NET isaHO.</p>
    <p><a href="https://newwavessolutions.com/rapidreact" class="btn btn-primary btn-lg">Rapid / React &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>kkkRAZY</h2>
    </div>
    <div class="col-md-4">
        <h2>Get more ASS</h2>
    </div>
    <div class="col-md-4">
        <h2>BISHHH</h2>
    </div>
</div>